<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>贷款管理</title>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'assets/vendor/fonts/circular-std/style.css' %}">-->
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/vendor/parsley/parsley.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
       <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="../">银行管理系统</a>
            </nav>
        </div>
        
        <div class="">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2>贷款支付<a href="../loan_manage" style="float:right;position: relative;bottom: 8px;" class="btn btn-primary btn-lg">贷款管理</a></h2>
                            <hr>
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags %}
                                {% if message.tags == 'error'%}
                                <div id='alert' class="alert alert-danger" role="alert">
                                    {{ message }}
                                    <a style="float: right;cursor: pointer;" onclick="document.getElementById('alert').remove()" >×</a>
                                </div>
                                {% endif %}
                                {% if message.tags == 'info'%}
                                <div id='alert' class="alert alert-primary" role="alert">
                                    {{ message }}
                                    <a style="float: right;cursor: pointer;" onclick="document.getElementById('alert').remove()" >×</a>
                                </div>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>贷款支付</h3>
                            </div>
                            <div class="card-body">
                                <form id="issueForm" data-parsley-validate="" novalidate="" method="post" action=".">
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">贷款号</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input name="fk_loan" type="text" required="" data-parsley-maxlength="50" placeholder="贷款的ID" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">支付金额</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input name="pay_money" type="text" data-parsley-pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$" placeholder="支付的金额" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">支付日期</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input name="pay_date" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row text-right">
                                        <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                            <button type="submit" class="btn btn-space btn-primary">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
</body>

 
</html>